.form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-top: 2px solid #d3d3d3;
}

.form .input {
    border: none;
    border-radius: 0;
    padding: 5%;
    width: 80%;
    font-size: 1.2em;
}

.form .sendButton {
    color: #d3d3d3 !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #2977ff;
    padding: 20px;
    display: inline-block;
    border: none;
    width: 20%;
}
.sendButton:hover {
    background: #1000ff;
}

input:focus,
textarea:focus,
select:focus {
    outline: none;
}