.infoBar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background: #2977ff;
    border-radius: 4px 4px 0 0;
    height: 60px;
    width: 100%;
}

.infoBar .leftInnerContainer {
    -webkit-box-flex: 0.5;
    -ms-flex: 0.5;
    flex: 0.5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: 5%;
    color: #d3d3d3;
}

.infoBar .leftInnerContainer .onlineIcon {
    margin-right: 5%;
}

.infoBar .rightInnerContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0.5;
    -ms-flex: 0.5;
    flex: 0.5;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    margin-right: 5%;
}